on: push

jobs:
  backfill-commits:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: bcanseco/github-contribution-graph-action@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GIT_EMAIL: alex@alexrusso.me
        MAX_DAYS: 200
        MIN_COMMITS_PER_DAY: 0
        MAX_COMMITS_PER_DAY: 1
        ORIGIN_TIMESTAMP: 1727193720
        INCLUDE_WEEKENDS: false
